@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

header img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100%;
    position: relative;
    opacity: 0.5;
    

}
.gradient{
    background: linear-gradient(to right, rgb(237, 189, 237), rgb(9, 9, 230));   
     
}
#task{
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);

}

.header-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
     color: #ffffff;
}

#task input{
    width: 300px;
    height: 35px;
    margin-top: 25px;
}

#task button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: #000000;
    font-size: 15px;
}